header {
  background-color: #333;
  padding: 10px 0;
  
  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      
      li {
        
        
        a {
          text-decoration: none;
          color: white;
          padding: 5px 10px;
          border-radius: 5px;
          
          &:hover {
            background-color: #555;
          }
        }
      }
    }
  }
}

.chart-container {
  margin-bottom: 20px;

  canvas {
    max-width: 100%;
    height: auto;
  }
}

.task-list {
  margin-bottom: 20px;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      button {
        margin-left: 10px;
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}

.filter-options {
  margin-bottom: 20px;

  label {
    margin-right: 10px;
  }

  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}

button {
  padding: 5px 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #218838;
  }
}
